* {outline: dotted 1px orange;
}

header section {
  float: right;
  margin: 20px 20px;
}
header section a {
  margin: 10px;
}
main {
  margin: 30px auto;
}

header div  img{
  display:block;
  margin: auto;
}
header nav li {
  display: inline-block;
  margin-right: 40px;
  float: left;
  font-family: Georgia, Serif;
  font-size: 16px;
  }
header nav{
  margin-left: 150px;
}

main h1   {
  float: left;
  margin: 35px;
}
main a {
  float: right;

  margin: 35px;
}

.featured_content {
  display: block;
  position: relative;
  border: 3px solid #73AD21
  border-top: 5px solid #ddd;
  clear: both;
}
.featured_content li {
  margin-top: 20px;
  margin-right: 40px;
  padding-right: 15px;
  float: left;
  width: 700px;
  border: solid #fff;
}

  .featured_content li  img {
  float: left;
  margin-right: 15px;
}
.right{
  float:right;
}
body{
  font-family: 'Georgia';
  font-size: 16px;
  font-style: italic;

}
