
header li {
  display: inline-block;
  margin-right: 50px;
  margin-top: 45px;
  font-color: #564527;
}
header ul{
  font-color: #564527;
  display: inline-block;
}

body{
  width:960 px;
  background: 	#AA5830;
  margin-top: 30px;
  pading-top: 30px;
}
* {
    font-family: 'Georgia';
    font-size: 22px;
}
h1, li , p, {
  font-family: 'Arial';
  font-size: 22px;
  font-color:	#D4AD76;
}
.imgPic img{
  display: block;
  margin-left: auto;
  margin-right: auto }
}
header  img {
  float: left;
  margin-top: 15px;
  margin-right: 50px;
}
header div {
  width: 1200px;
  margin: 0 auto;
}
