
header li {
  display: inline-block;
  margin-right: 30px;
  font-color: #564527;

}
header ul{
  font-color: #564527;
}

body{
  width:960 px;
  background: 	#AA5830;
  margin-top: 30px;
  pading-top: 30px;
}
* {
    font-family: 'Georgia';
    font-size: 22px;
}
h1, li , p, {
  font-family: 'Arial';
  font-size: 22px;
  font-color:	#D4AD76;
}
header img{
  display: block;
  margin-left: auto;
  margin-right: auto }
}
header ul
}
